body {
  font-family: sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 15px;
}

form label input {
  margin-left: 12px;
}

input {
  font-size: 13px;
}

select option {
  font-size: 13px;
}

.error {
  color: red;
}
